@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;



}


video{
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

}

.screen {

    height: 100vh;

    width: 100%;

    overflow: hidden;

    position: relative;

    display: flex;

    justify-content: start;

    align-items: center;

} 





.container {

    width: 100%;

    height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

}



.title {

    font-size: 2.5rem;

    margin-bottom: 20px;
    color: white;

}



.menu {

    display: flex;

    flex-direction: column;

    justify-content: center;
    background: url('back.mp4') no-repeat center center fixed; /* Replace 'path/to/your/video.mp4' with the actual path to your video */
    background-size: cover;



    width: 33.3%;

    margin-top: 2rem;

    margin-bottom: 1.25rem;

}

.button {

    padding: 10px 20px;

    font-size: 1.2rem;

    border: none;

    border-radius: 5px;

    background-color: #864624;

    border-radius: 15px;

    color: white;

    cursor: pointer;

    margin-bottom: 15px;

    transition: background-color 0.3s ease;

}

.settings-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('back.mp4') no-repeat center center fixed; /* Replace 'path/to/your/video.mp4' with the actual path to your video */
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}


.settings-menu {
    position: absolute;
    top: 60vh; /* Adjust as needed */
    right: 50px; /* Adjust as needed */
    padding: 20px;
    border: 10px solid #a15c36;
    border-radius: 5px;
    z-index: 999;
    height: 30vh;
    margin-top: 10px;
    background: url('back.webp');
}



.settings-menu label {
    display: block;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}


.settings-menu input[type="checkbox"] {
    margin-right: 10px;
}

.settings-menu input[type="range"] {
    width: 100%;

}

.button:hover{

    background-color:rgba(115, 107, 221, 1);

}

.hidden {
    display: none;
}

.dark-mode {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
}

.settings-title {
    text-align: center; 
    font-size: 3rem; 
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    -webkit-text-stroke: 1px white; /* Add white border */
}
.return-button {
    position: absolute;
    top: 103%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a15c36; /* Adjust as needed */
    cursor: pointer;
    font-size: 25px;
    font-weight:bolder;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    -webkit-text-stroke: 1px white; /* Add white border */
    
}


.return-button:hover {
    background-color: #bbb; /* Adjust as needed */
    font-family: 'Poppins', sans-serif;
}


/* Add styles for the toggle buttons */
.toggle-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.toggle-label i {
  font-size: 30px;
  margin-right: 10px;
  border: 2px solid transparent;
  border-radius: 50%; 
  padding: 5px;
}

.toggle-label.disabled i {
  border-color: red; /* Change border color to red if disabled */
}

.toggle-label input[type='range'] {
  width: 50%;
  margin-left: 20px;
}
/* Add styles for active and inactive state of icons */
#music-icon.active {
    color: green; /* Change color when music is active */
}

#sound-icon.active {
    color: blue; /* Change color when sound is active */
}

#dark-mode-icon.active {
    color: darkgrey; /* Change color when dark mode is active */
}
